body{font-family:Arial;}
h1,h2,h3,h4,h5,h6{font-family:Arial;font-weight:bold;}
	p{color:#434242;}
.bg-color{background-color:#222;}
.mainheader{position:relative;	background-color:#dbd6d9;}
.call h5{margin:0;font-size:15px;}
.hc h3{margin:0;}
.anyClass {height:455px;overflow-y:scroll;}
/*.L1 img{padding-top:5px;}*/
.bg-cream{background-color:#fffbdb;}
.tnd {
	background-color: #c71106;
    width:140px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 2px;
	}
.text-grey{color:#434242;}
.tnd a{color:white;text-decoration:none;}
.tnd a:visited{color:white;}
.bg-tablecolor{background-color:#595a5a;}
.c2{position:absolute;margin-top:-75px;}
.c3{position:absolute;top:172px;}
.bg-light1{background-color:#C71106;border-radius:50px;}
.bg-red{color:#C71106;font-size: 18px;}
.btn{background-color:#C71106;border-radius:0;border:0;width:100%;}
@media only screen and (min-device-width:1081px) and (max-device-width:2560px){
	.l1{font-size:15px;margin:0;}
	.l2{font-size:23px;margin:0;}
	.l3{background-color:#727271;border-radius:20px;font-size:10px;}
	.L1 .call ,h4  h5{font-size:18px;text-align:right;}
	}
@media only screen and (min-device-width:994px) and (max-device-width:1080px)
{
	.c3{top:68px;}p{font-size:14px;}
	.media-body h6{font-weight: bold;
    font-size: 13px;}
		.l1{font-size:15px;margin:0;}
	.l2{font-size:23px;margin:0;}
	.l3{background-color:#727271;border-radius:20px;font-size:10px;}
	.L1 .call ,h4  h5{font-size:18px;text-align:right;}
}
@media only screen and (min-device-width:870px) and (max-device-width:993px)
{
	.c3{top:28px;}
	h4{font-size:12px;}
	p{font-size:12px;}
	.media-body h6{font-weight: bold;
    font-size: 13px;}
	.l1{font-size:15px;margin:0;}
	.l2{font-size:23px;margin:0;}
	.l3{background-color:#727271;border-radius:20px;font-size:10px;}
	.L1 .call ,h4  h5{font-size:18px;text-align:right;}
}
@media only screen and (min-device-width:320px) and (max-device-width:767px)
{
	h4{font-size:15px;}
	h5{font-size:23px;}
	h3{font-size:17px;}
	p{font-size:8px;}
	.L1 img{padding-top:13px;}
	.L1 .call ,h4  h5{font-size:18px;text-align:right;}
	.c1{margin-top:317px;}
	.media-body h6{font-weight: bold;font-size:9px;}
	.table{font-size:10px;}
	.hc h3 {
    margin: 0;
    font-size: 15px;}
	.l1{font-size:9px;margin:0;}
	.l3{background-color:#727271;border-radius:20px;font-size:8px;}
	.frm{position:relative;top:-73px;}
	.c2 {
    margin-top:205px;
    position: absolute;}
.bg-light1 {background-color:white;}
.c2 h5{color:#C71106;}
}
@media only screen and (min-device-width:320px) and (max-device-width:420px)
{
	.media-body h6{font-weight: bold;font-size:8px;}
	.l2
	{
    font-weight: bold;
    font-size: 12px;
    margin: 0;}
	.c3 {
    position: absolute;
    top: 170px;}
	.c2 {
    margin-top: 219px;
    position: absolute;
}
.c1 {
    margin-top: 315px;
}
} 
@media only screen and (min-device-width:375px) and (max-device-width:425px){
	.c3 {
    position: absolute;
    top: 220px;}	
}
@media only screen and (min-device-width:426px) and (max-device-width:575px){
	.c3 {
    position: absolute;
    top: 275px;}	
	.c2 {
    margin-top:230px;
    position: absolute;
}
}
@media only screen and (min-device-width:768px) and (max-device-width:869px)
{
	p{font-size:12px;}.c1{margin-top:20px;}
	.media-body h6{font-weight: bold;
    font-size: 10px;}
	.table{font-size:14px;}
	.l1{font-size:15px;margin:0;}
	.l2{font-size:23px;margin:0;}
	.l3{background-color:#727271;border-radius:20px;font-size:10px;}
	.L1 .call ,h4  h5{font-size:18px;text-align:right;}
	.hc h3 {
    margin: 0;
    font-size:26px;}
	.bg-light1 {
    background-color: #C71106 !important; border-radius:50px; }
	.bg-red {
    color: #C71106;
    font-size: 10px;
}
.c3 {
    position: absolute;
    top: 45px;
}
.c2 {
    position: absolute;
    margin-top: -30px;
}
}
@media only screen and (min-device-width:870px) and (max-device-width:993px)
{
	.bg-red {
    color: #C71106;
    font-size: 14px;}
	.c3 {top:50px;}
}
@media only screen and (min-device-width:440px) and (max-device-width:575px)
{.c3 {
    position: absolute;
    top: px;
}
}
.bg-light2 {background-color: rgba(255, 255, 255, 0.72)!important;}
